<header class="header">
    <a title="Argentina Programa" href="https://argentinaprograma.inti.gob.ar/"><img src="../assets/Argentina-Programa-FUENTE-www.argentina.gob_.png" alt="Argentina Programa" class=img-header/></a>
        <!-- Ponerlos horizontales, arriba a la derecha, con icono Boostrap o .png y link -->
        <ul class="rrss">
            <li class=fb>
                <a href="facebook.com">FB</a>
            </li>
            <li class="twt">
                <a href="www.twitter.com">TWT</a>
            </li>
        </ul>    

    <div class="encabezado">
        <img src="../assets/cat.jpg" class="img-thumbnail" alt="...">
        <div>
            <h1>Emiliana Quaglia Rossi</h1>
            <h2>Full Stack Developer Jr.</h2>
            <h6>Técnica en Comunicación Social especializada en Media Marketing y Comunicación Institucional| Locutora N°5050 | Full Stack Developer Jr</h6>
        </div>
    </div>
</header>





<!-- Como hago para poner imagen de cada experiencia a la izquierda -->
<section class="contenedor">
    <app-info-box [experiencias]="listaExperiencias" [formacion]="listaFormacion"></app-info-box>

</section>

