<header class="encabezado">
    <img src="../assets/cat.jpg" class="img-thumbnail" alt="...">
    <div class="iconos">
        <!-- Ponerlos horizontales, arriba a la derecha, con icono y link -->
        <ul class="rrss">
            <li>
                <a href="www.facebook.com.ar"> FB
                </a>
            </li>
            <li>
                <a href="www.twitter.com.ar"> TWT
                </a>
            </li>
        </ul>    
    </div>
    <div>
        <h1>Emiliana Quaglia Rossi</h1>
        <h2>Full Stack Developer Jr.</h2>
        <h6> Técnica en Comunicación Social especializada en Media Marketing y Comunicación Institucional| Locutora N°5050 | Full Stack Developer Jr</h6>
    </div>
</header>



<section class="contenedor">
    <app-info-box [experiencias]="listaExperiencias" [formacion]="listaFormacion"></app-info-box>

</section>

