

  .contenedor {
    margin-top: 400px; 
    margin-left: 62px;
  }




.encabezado {
  background-color: #333;
  color: white;
  width: 100%;
  height: 400px;
  left: 0;
  top: 0;
  position: fixed;
  background-image: url(../assets/Encabezado.jpg);
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
  margin-top: 200px;
  margin-left: 40px;
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
  margin-left: 40px ;
}

h6, .h6{
  margin-left: 40px;
  padding-top: 10px;
  color: black;
  background-color: aqua;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  margin-top: 190px;
  margin-left: 50px;
}

.iconos{ 
display:inline;
}