

  .contenedor {
    margin-top: 221px;  
  }



.encabezado {
  background-color: #333;
  color: white;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-image: url(../assets/Encabezado.jpg);
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  margin-right: 30px;
}