

<div class="contenedor">
   <div 
    *ngFor="let item of experiencias" class="experiencia">
    <div>
        <h1 class= "title"> {{item.tipo}}</h1>
       </div> 
        <h2 class="subtitle">{{ item.titulo }}</h2>
        <p>{{ item.duracion }}</p>
        <p>{{ item.descripcion }}</p>
        <p></p>
    </div>

  

    <div 
    *ngFor="let item of formacion" class="formacion">
        <div>
         <h1 class= "title"> {{item.tipo}}</h1>
        </div> 

        <h2 class="subtitle">{{ item.titulo }}</h2>
        <p>{{ item.institucion}}</p>
        <p>{{ item.fechaEgreso }}</p>
        <p></p>
    
</div>
</div>