

<div class="contenedor">
    <div class="d-flex align-items-center">
      <h1 class= "title">Experiencia Laboral</h1>
      <fa-icon (click)="toggleExperiencias()" *ngIf="showExperiencias" [icon]="arrowUp"></fa-icon>
      <fa-icon (click)="toggleExperiencias()" *ngIf="!showExperiencias" [icon]="arrowDown"></fa-icon>
    </div>
    <div *ngFor="let item of experiencias" class="experiencia">
        
        <ng-container *ngIf="showExperiencias">
            <h2 class="subtitle">{{ item.titulo }}</h2>
            <p>{{ item.lugar }}</p>
            <p>{{ item.duracion }}</p>
            <p>{{ item.descripcion }}</p>
        </ng-container>
     </div>
</div>

<div class="contenedor">
    <div class="d-flex align-items-center">
      <h1 class= "title"> Formación Profesional</h1>
      <fa-icon (click)="toggleFormaciones()" *ngIf="showFormaciones" [icon]="arrowUp"></fa-icon>
      <fa-icon (click)="toggleFormaciones()" *ngIf="!showFormaciones" [icon]="arrowDown"></fa-icon>
    </div>

    <ng-container *ngIf="showFormaciones">
      <div *ngFor="let item of formacion" class="formacion">
        <h2 class="subtitle">{{ item.titulo }}</h2>
        <p>{{ item.institucion}}</p>
        <p>{{ item.fechaEgreso }}</p>
        <img [src]="item.img_src" class="img-thumbnail" alt="...">     
      </div>
    </ng-container>
</div>
